body {
    background-color: black;
    display:flex;
    gap: 5em;
}

#board {
    height: 500px;
    display: grid;
    grid: repeat(3, 100px) / repeat(3, 100px);
    button {
        background-color: red;
    }
}

.cell {
    font-size: 50px;
}

#table>* {
    color: white;
}

span {
    display: flex;
    gap: 0.5em;
}
